@import '~bootstrap/dist/css/bootstrap.min.css';


.layout-container{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.component-content-container {
    overflow-y: scroll;
    height: 90vh;
  }

.card-grid-title {
    color: #231F20;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    /* 27px */
    letter-spacing: -0.18px;
    margin-top: 3px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }

.modal-title-text {
  overflow: hidden;
  color: var( #231F20);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.14px;
}

.btn-cancel {
  display: flex;
  height: 40px;
  padding: var(--12-px, 12px) var(--16-px, 16px);
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: var(--6-px, 6px);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #7E8299;
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  opacity: 0.8;
}

.btn-cancel:hover {
  opacity: 1;
}

.btn-confirm {
  display: flex;
  height: 40px;
  min-width: 94px;
  padding: var(--12-px, 12px) var(--16-px, 16px);
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: var(--6-px, 6px);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #FFF;
  background-color: #3C479D;
  border-color: #3C479D;
  opacity: 0.8;
}

.btn-confirm:hover {
  color: #FFF;
  opacity: 1;
}


.breadcrumb-text {
  color: #07080E;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18.20px;
  word-wrap: break-word;
  letter-spacing: -0.14px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.breadcrumb {
  align-items: center;

  .breadcrumb-item {
      display: flex;
      
      a {
          display: flex;
          align-items: center;
      }

      &.active,
      &:hover {
          i,
          a {
              transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease ;
              color: #3699FF !important;
          }
      }
  }

  &.breadcrumb-transparent {
      background-color: transparent;
      border-radius: 0;
  }

  &.breadcrumb-line {
      .breadcrumb-item {
          &:before {
              display: none;
          }

          &:after {
              content: "-";
          }

          &:last-child {
              &:after {
                  display: none;
              }
          }
      }
  }

  &.breadcrumb-dot {
      .breadcrumb-item {
          &:before {
              display: none;
          }

          &:after {
              content: "\2022";
          }

          &:last-child {
              &:after {
                  display: none;
              }
          }
      }
  }
}


